@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
}

/* NAVBAR */
nav {
  position: sticky;
  top: 0;
  background: #121212;
  min-height: 95px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem;
  box-shadow: 0 0 20px black;
  z-index: 2;
}

nav h1 {
  color: #eaebea;
  font-family: 'Cabin', sans-serif;
  font-size: 1.8rem;
}

nav h1 > span {
  font-size: 2.2rem;
  color: #74b6e2;
}

nav ul {
  display: flex;
  gap: 2rem;
  font-size: 1.5rem;
}

.page-link {
  position: relative;
  color: #eaebea;
  font-family: 'Cabin', sans-serif;
  text-decoration: none;
  cursor: pointer;
}

.main-link::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  height: 2px;
  width: 0;
  background: #eaebea;
  transition: 0.4s ease;
}

.main-link:hover::after {
  width: 100%;
}

.main-link:focus::after {
  width: 100%;
}

.cart-link {
  transition: 0.4s ease;
}

.cart-link:hover {
  animation: shake 2s ease-in-out infinite;
}

@keyframes shake {
  0% {
    transform: rotate(0);
  }

  25% {
    transform: rotate(10deg);
  }

  50% {
    transform: rotate(-10deg);
  }

  75% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(0);
  }
}

.cart-size {
  position: absolute;
  bottom: -1.8rem;
  right: -1.2rem;
  transform: translateY(-50%);
  background: #74b6e2;
  color: #121212;
  padding: 0 0.35rem;
  border-radius: 50%;
}

/* HOME PAGE */
.home-background {
  height: calc(100vh - 95px);
  background: url('./assets/home-page.jpg') no-repeat center;
  background-size: cover;
  transition: 0.3s ease;
}

.home-inner {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  background: rgba(0, 0, 0, 0.5);
  transition: 0.3s ease;
}

.home-inner:hover {
  background: rgba(0, 0, 0, 0.4);
}

.home-inner h2,
.home-inner p {
  opacity: 0;
  animation: home-text-enter 0.6s ease forwards;
}

.home-inner h2 {
  font-family: 'Cabin';
  font-size: 3rem;
  animation-delay: 0.5s;
  color: #eaebea;
  margin-top: 15%;
}

.home-inner h2 > span {
  font-style: italic;
  color: #74b6e2;
}

.home-inner p {
  font-family: 'Barlow';
  font-size: 2rem;
  animation-delay: 1s;
  color: #d6d6d6;
}

@keyframes home-text-enter {
  0% {
    transform: translateX(-40px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* SHOP */
.shop {
  background: url('./assets/shop-page.jpg') no-repeat center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 2rem 0;
}

.products {
  width: 90vw;
  background: white;
  box-shadow: 0 5px 20px rgb(95, 95, 95);
  display: grid;
  grid-template: 100px repeat(3, 1fr) / repeat(2, 1fr);
  padding: 1rem;
  border-radius: 10px;
}

.products h2 {
  font-size: 3rem;
  font-family: 'Cabin', sans-serif;
  grid-area: 1 / 1 / 2 / 3;
  justify-self: center;
  align-self: center;
  border-bottom: 5px solid black;
  padding-bottom: 0.5rem;
}

.product {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  margin: 2rem;
  padding: 0.5rem;
  box-shadow: 0 2px 5px rgb(145, 145, 145);
  border-radius: 10px;
  transition: 0.2s ease;
}

.product:hover {
  box-shadow: 0 5px 10px rgb(120, 120, 120);
}

.product img {
  max-height: 400px;
}

.product-info {
  border-left: 2px solid rgb(150, 150, 150);
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1.5rem;
}

.product-card-name {
  font-size: 2rem;
  font-family: 'Cabin', sans-serif;
}

.product-card-price {
  font-size: 1.6rem;
  font-family: 'Barlow', sans-serif;
}

.product-card-info {
  font-size: 1.4rem;
  font-family: 'Barlow', sans-serif;
  color: rgb(50, 50, 50);
  text-align: center;
  margin: 1rem 0 1.4rem 0;
}

.add-to-cart {
  position: relative;
  padding: 0.6rem 1rem;
  font-size: 1.6rem;
  background: #121212;
  border: 2px solid #121212;
  color: #eaebea;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  transition: 0.3s ease;
  z-index: 1;
}

.add-to-cart:hover {
  color: #121212;
}

.add-to-cart::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background: #74b6e2;
  z-index: -1;
  transition: 0.3s ease;
}

.add-to-cart:hover::after {
  width: 100%;
}

/* CART */
.cart-page {
  min-height: calc(100vh - 95px);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 2rem 0;
}

.cart-page h2 {
  font-size: 3rem;
  font-family: 'Cabin', sans-serif;
  border-bottom: 5px solid black;
  padding-bottom: 0.5rem;
}

.empty-cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding: 2rem;
  box-shadow: 0 2px 20px rgb(150, 150, 150);
  border-radius: 10px;
}

.empty-cart p {
  font-size: 2.5rem;
  font-family: 'Barlow', sans-serif;
}

.empty-cart i {
  font-size: 4rem;
  color: #74b6e2;
  text-shadow: 0px 2px 2px black;
  animation: idle 2s ease-in-out infinite;
}

@keyframes idle {
  0% {
    transform: rotate(-15deg);
  }

  50% {
    transform: rotate(15deg);
  }

  100% {
    transform: rotate(-15deg);
  }
}

.empty-cart button {
  padding: 0.6rem 1rem;
  font-size: 1.6rem;
  background: #121212;
  color: #eaebea;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  outline: none;
}

.empty-cart button:hover {
  background: #2e2e2e;
}

/* FOOTER */
footer {
  background: #121212;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  color: #eaebea;
  font-family: 'Barlow';
  font-size: 1.2rem;
}

footer p > a {
  color: #74b6e2;
}

footer p > a > i {
  margin-left: 0.3rem;
}